# Core functionality - changes here should be rare!
/src/app.py                   @NathanViel
/src/backend/database.py      @NathanViel
/src/backend/routers/auth.py  @NathanViel

# The frontend will need refactored soon to be more object oriented.
/src/static/   @NathanViel
